{#
/**
 * @file
 * Default theme implementation to present a cookiebot settings link block.
 *
 * Available variables:
 * None
 *
 * @ingroup themeable
 */
#}

<a href="javascript:Cookiebot.renew()">{{ 'Cookie settings'|t }}</a>
